{% load static compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Telecom Inventory{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap_css/bootstrap.min.css' %}">
    {% endcompress %}
    {% compress js %}
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap_js/bootstrap.bundle.min.js' %}"></script>
    {% endcompress %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>